<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ServletFilterExample</display-name>
	<filter>
		<filter-name>MyFilter</filter-name>
		<filter-class>com.servletfilterexample.filters.MyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter</filter-name>
		<url-pattern>/MyServlet</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>MyFilter2</filter-name>
		<filter-class>com.servletfilterexample.filters.MyFilter2</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter2</filter-name>
		<url-pattern>/MyServlet</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>MyServlet</display-name>
		<servlet-name>MyServlet</servlet-name>
		<servlet-class>com.servletfilterexample.servlets.MyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServlet</servlet-name>
		<url-pattern>/MyServlet</url-pattern>
	</servlet-mapping>
</web-app>