<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>FirstServletApplication</display-name>

	<welcome-file-list>
		<welcome-file>myGenericPage</welcome-file>
		<welcome-file>myPage</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>FirstServlet</display-name>
		<servlet-name>FirstServlet</servlet-name>
		<servlet-class>com.wayneyong.servlets.FirstServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FirstServlet</servlet-name>
		<url-pattern>/myPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>FirstGenericServlet</display-name>
		<servlet-name>FirstGenericServlet</servlet-name>
		<servlet-class>com.wayneyong.servlets.FirstGenericServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FirstGenericServlet</servlet-name>
		<url-pattern>/myGenericPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>FirstHttpServlet</display-name>
		<servlet-name>FirstHttpServlet</servlet-name>
		<servlet-class>com.wayneyong.servlets.FirstHttpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FirstHttpServlet</servlet-name>
		<url-pattern>/myHttpPage</url-pattern>
	</servlet-mapping>

</web-app>